
body {
  background-color: darkgreen;
}

#board {
  width: 800px;
  height: 800px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}
#walker1 {
  background-color: teal;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
#walker2{
  background-color: rgb(17, 0, 255);
  width: 50px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
}